table,
th,
td {
  border: 1px solid black;
  padding: auto;
  width: 300px;
}
th,
td {
  border: 1px solid black;
  padding: 30px 20px;
}
th {
  background-color: aqua;
}
.a {
  width: 100%;
  border-collapse: collapse;
}
.a,
th {
  height: 50px;
  text-align: right;
}
.a,
th,
td {
  border: 1px solid black;
  padding: auto;
}
.a,
td {
  height: 50px;
  vertical-align: bottom;
}
